[include fluidd.cfg]
[include kinematics.cfg]
[include input_shaper.cfg]
[include probe.cfg]

########################
#### Include Macros ####
------------------------
[include gcode_macros.cfg]
[include macros/macro_homing.cfg]



[save_variables]
filename: /home/klipper/printer_data/config/variables.cfg

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/ttyS3
restart_method: command


[extruder]
step_pin: gpio14
dir_pin: gpio13
enable_pin: !gpio15
microsteps: 16
rotation_distance: 23.0138
gear_ratio: 50:17
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: gpio23
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: gpio27
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: -273.15
max_temp: 300
max_extrude_cross_section:2
pressure_advance = .25
pressure_advance_smooth_time = .04
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
max_extrude_only_accel: 800
instantaneous_corner_velocity: 20
min_extrude_temp: -273.15

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
run_current: 0.8
stealthchop_threshold: 0

########################## fans and heating ############################
[multi_pin part_cooling]
pins: gpio17,gpio20

[fan]
pin: multi_pin:part_cooling

[heater_fan hotend_fan]
pin: gpio18
heater: extruder
heater_temp: 40.0

[heater_bed]
heater_pin: gpio21
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio26
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[bed_screws]
screw1: 33, 25
screw2: 128, 25
screw3: 33, 135
screw4: 128, 135


################################## Controller Board Temps ######################
[temperature_sensor skr_pico]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor banana_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = -7.680
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.220
#*# pid_ki = 1.356
#*# pid_kd = 961.431
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.555
#*# pid_ki = 1.738
#*# pid_kd = 54.998
